* {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
header {
    grid-column: 1 / -1;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: 'Molle', cursive;
    font-size: 175px;
    color: red;
    line-height: 40px;
}
#navbar {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    border: 5px solid white;
    border-radius: 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navs {
    font-size: 45px;
    text-decoration: none;
    color: red;
}
nav > a:visited {
    color: gold;
}
nav > a:active {
    color: blue;
    text-decoration: none;
}
figure {
    grid-column: 1/2;
}
#profile {
    width: 500px
}
#greeting {
    grid-column: 2/4;
    grid-row: 3/4;
    font-size: 30px;
    color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#work {
    grid-column: 4/5;
    grid-row: 3/4;
    color: red;
    font-size: 30px;
    margin: 50px;
}
#table {
    grid-column: 1/3;
    grid-row: 4/5;
    color: gold;
    font-size: 25px;
}
caption {
    font-size: 35px;
}
#thead {
    text-decoration: underline;
}

@media only screen and (max-width: 1366px) {
    h1 {
        font-size: 100px;
    }
    .navs {
        font-size: 35px;
    }
    #profile {
        width: 400px;
    }
    #greeting {
        grid-column: 2/5;
        font-size: 25px;
    }  
    #work {
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 25px;
    } 
    #table {
        grid-column: 2/3;
        font-size: 20px;
    }
    caption {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 75px;
    }
    .navs {
        font-size: 20px;
    }
    #profile {
        width: 300px;
    }
    #greeting {
        grid-column: 2/5;
        font-size: 20px;
    }
    #work {
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 20px;
    }
    #table {
        grid-column: 2/3;
        font-size: 15px;
    }
    caption {
        font-size: 20px;
    } 
}
